@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Work Sans';
    src: url('./static/fonts/WorkSans-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@layer base {
    body {
        font-family: 'sans_custom';
        font-weight: 600;
        font-variation-settings: "wght" 600;
    }
}



.node-base {
    @apply w-fit border border-[0.06rem] border-slate-500 rounded-[0.6rem] p-[0.5rem] cursor-pointer;
}

.ref-node {}

.ref-text {
    @apply text-slate-700 text-sm
}

.input-container-row {
    @apply flex-row justify-start;
}

.input-container-column {
    @apply flex-col items-start justify-center;
}

.base-input-container {
    @apply flex px-2 w-[100%];
}

.suspensive-dots {}



.input-label {
    @apply w-fit font-bold;
}

.input-check-label {
    @apply my-auto font-bold;
}

.input-options-buttons {
    @apply flex flex-row;
}

.checkBox-input {
    @apply size-[33px] mx-[0.6rem];
}

.text-input,
.input-field {
    @apply rounded-[10px] border-2 border-gray-300 bg-white p-1 w-full;
}

.save-input-button,
.form-submit-button {
    @apply p-[0.3rem] m-[0.1rem] w-fit rounded-full leading-none bg-cyan-200 border border-[0.04rem] border-slate-500;
}

.form-style {
    @apply flex flex-col items-center justify-between p-2 m-1 min-w-[15rem] w-fit h-fit shadow-lg rounded-[16px];
}

.form-options-container {
    @apply flex flex-col items-center justify-end;
}

.detail-form-style {
    @apply m-0 p-1 max-w-full h-full justify-between;
}

.detail-input {}

.view-container {
    @apply flex flex-row w-[100%] justify-center;
}

.side-bar {
    @apply w-2/12 text-center shadow-lg
}